body {
    margin: 0;
padding: 0;
/* background: #262626; */
}
/* main .container {
    overflow: hidden;
}
main .container ul{
position: relative;
padding: 0;
width: 100%;
margin: 10px 10px 30px;

} */
.projects-heading {
    position: relative;
    top: 100px;
    padding: 0 20px;
}
.searchbox {
    background: #2c3e50;
    padding: 6px;
}
#searchbox {
    display: block;
    border: none;
    background: #2c3e50;
    padding: 6px;
    font-size: 18px;
    border-radius: 6px;
    color: #fff;
    width: 90%;
    margin: 0 auto;
}

.filter-btn {
/* position: sticky; */
position: relative;
/* top: 100px; */
/* z-index: 9999; */
/* display: flex; */
/* justify-content: center; */
margin: 0 auto;
max-width: 1020px;
}
.filter-btn p {
    margin: 0;
    padding: 0;
    font-size: 14px;
font-family: 'Roboto', sans-serif;
font-weight: 500;
text-transform: none;
}
h3.filter-title {
    color: #fff;
    text-shadow: 0 0 1px #ccc;
}
main ul li {
list-style: none;
/* width: 100%; */
display: flex;
float: left;

/* padding: 10px 20px; */
padding: 5px 10px;
/* color: #fff; */
color: #000;
/* border: 1px solid #fff; */
border: 1px solid #262626;
/* margin-right: 15px; */
margin: 0 15px 15px 0;

font-family: arial;
text-transform: uppercase;

background-color: #E6E6E6;
border-radius: 3px;
/* box-shadow: 0 0 2px rgba(230, 230, 230,.5); */
box-shadow: 0 0 2px rgba(0, 0, 0,.5);
border: none;
}

.projects-container ul li:hover,
.active-filter {
/* background: #fff; */
/* color: #262626; */
/* background: #262626; */
background: #0F92B9;
color: #fff;
cursor: pointer;
}
/* 
main {
position: static;
}
main .container {
padding: 0 30px;
position: absolute;
top: 50px;
width: 100%;
height: 100%;
padding: 30px;
box-sizing: border-box;
}
main .container .box {
width: 23%;
height: 100px;
line-height: 100px;
text-align: center;
color: rgb(255,255,255,.5);
font-family: arial;
font-size: 2em;
float: left;
box-sizing: border-box;
margin: 10px;
text-transform: uppercase;
} */
.website {
background: #2ecc71;
}
.graphics {
background: #f1c40f;
}
.psd {
background: #3498db;
}
.logo {
background: #e74c3c;
}
.application {
background: #9b59b6;
}

.card h1 {font-size: 18px;}
.cards-container {
    max-width: 1020px;
    margin: 100px auto;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
    position: relative;
}

.card {
    position: relative;
    /* issue - isotope filter transition */
        overflow: hidden;
}
.card a {
    text-decoration: none;
}
.card-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: .5s;
}

.project-name {
    /* position: absolute; */
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(255,255,255, 0.6);
    transition: .6s ease all;
    transform-origin: bottom;
    color: #000;
    /* display: block; */
    height: 40px;
}
.project-name p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    /* line-height: 24px; */
    line-height: 40px;
    text-shadow: 0 0 1px #000;
    display: block;
}

.card:hover {
    box-shadow: 0 0 4px 2px #18525D;
}
.card:hover img {
    transform: scale(1.1);
}
.card:hover .project-name {
    /* background-color: rgba(255,255,255, 1); */
    background-color: #0F92B9;
    color: #000;
    transition: .5s;
}
.card:hover .project-name p {
    color: #fff;
    text-shadow: 0 0 1px #fff;
    transition: .5s;
}

.card:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 0;
    padding-bottom: calc(100% / (3 / 2) );
}
