/* ============
  Widgets scroll to top
 ============ */
 .scrollToTop {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #0063e8;
    color: #fff;
        display: none;
        z-index: 9;
}
@media (min-width: 600px) {
    .scrollToTop {
        right: 23px;
    }
}
.scrollToTop:hover {
    background: #e8008a;
}
.scrollToTop.visible {
    display: block;
}