/* [special] side-nav-widget 
============================
============================ */
.side_nav_widget_container {
    // background-color: $color-black;
    position: relative;
    grid-area: side_nav_widget;
    width: 100%;
}
.fixed_wrapper{
    position: sticky;
    top: 0;
    z-index: 99999;
}
.side_nav_widget_flex_container {
    width: 100px;
    // display: flex;
    background-color: $color_black;
}

.side_nav_widget {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; 
    text-align: center;
    // background-color: $color-black;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.side_nav_widget a {
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
.side_nav_widget a:active, .side_nav_widget a:hover, .side_nav_widget a:focus {
    color: $color_orange;
}
// .block {
//     width: 10px;
//     height: 30px;
//     border-radius: 4px;
//     display: block;
//     // background-color: #fff;
//     background-color: $color_orange;
//     position: absolute;
//     left: calc(100% - 17.5px);
// }

// .block:active, .block:hover, .block:focus {
//     background-color: $color_orange;
// }

.side_nav_widget img {
    width: 30px;
}

/* scroll indicator */
/* Style the header: fixed position (always stay at the top) */
.side_nav_widget_scroll_indicator {
    margin-right: 10px;
  }
  
  /* The progress container (grey background) */
  .scroll_progress_container {
    height: 100%;
    width: 5px;
    background-color: $color_black_light;
    // background: #ccc;

  }
  
  /* The progress bar (scroll indicator) */
  .scroll_progress_bar {
    width: 2px;
    border-radius: 2px;
    background-color: $color_orange;
    // background: #4caf50;
  }