/*--------------------------------------------------------------
 Typography
--------------------------------------------------------------*/
// @import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');
body {
    // font-family: 'Karla', sans-serif;
    /* background-color: #ebebeb; */
    // background-color: rgb(255, 244, 229);
    // font-family: "PT Sans Narrow", sans-serif;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
nav a {
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5rem
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}
