.tooltip-content {
    position: absolute;
    bottom: 55px;
    width: 400px;
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    transform: translate(-50%, -50px);
}
.tooltip-content:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background: #fff;
    bottom: -15px;
    left: 194px;
    rotate: (45deg);
}

/* element */
// visibility: visible;
// opacity: 1;
// transform: translateX(-50%) translateY(0px);