/* js #tooltip */
#tooltip {
    position: fixed;
    display: block;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    color: #000;
    font-size: 2.5em;
    font-weight: 700;
    padding: 5px 20px;
    box-shadow: 0 8px 10px rgba(0,0,0,.1);
}

/* element */
// .box:hover #tooltip {
//     opacity: 1;
//     visibility: visible;
// }