#popup {
    position: relative;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}
#popup .img {
    position: absolute;
        transform: translate(-105%, -125%);
        pointer-events: none;
    visibility: hidden;
    z-index: 1;
    // width: 300px;
}

/* element */
//span#popup element, .img tooltip within span
#popup:hover .img {
    visibility: visible;
}