/* custom photo ?*/

.title {
    text-align: center;
    padding: 50px 0 20px;
}
.title h1 {
    margin: 0;
    padding: 0;
    color: #262626;
    text-transform: uppercase;
    font-size: 30px;
}
.bannerText-about {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    max-width: 700px;
}
.bannerText-about h2 {
    font-size: 3em;
}
.bannerText-about h3 {
    font-size: 2em;
}
/*--------------------------------------------------------------
 about styles
--------------------------------------------------------------*/
.aboutCont {
    padding: 30px;
    margin-bottom: 100px;
}

.aboutCont>h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.aboutCont article h1 {
    text-align: center;
}

.svgContAbout {
    position: relative;
    height: 100%;
    // bottom: 0;
}
svg.bannerSvg {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: translateY(-30%);
    opacity: 1;
    visibility: visible;
    transition: .5s;
}
.profilecont:hover svg.bannerSvg{
    opacity: 1;
    visibility: visible;
    transform: translateX(0%) translateY(-30%);
    }
svg .draw {
    position: relative;
    stroke: #000;
    stroke-width: 4px;
    fill: transparent;
}
svg .draw.spin {
    cursor: pointer;
    // transform: translate(50%, 40%);
    fill: #cf4040;
    animation: spin 1s linear forwards;
}
svg .draw.draw1 {
    stroke-dasharray: 1800;
    stroke-dashoffset: 1800;
    animation-delay: 3s;
    animation: animateSVG 5s linear forwards;
}
svg .draw.draw2 {
    stroke-dasharray: 1800;
    stroke-dashoffset: 1800;
    animation-delay: 3s;
    animation: animateSVG 5s linear forwards;
}
@keyframes spin {
    0% {
        // position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(50%, 40%) rotate(0deg);

    }
    100% {
        // position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(0%, 0%) rotate(359deg);
    }
}
@keyframes animateSVG {
    to {
        stroke-dashoffset: 0 ;
    }
}
text {
    /* position: relative; */
    /* left: 50%; */
    width: 100%;
    /* transform: translateX(25%); */
    /* text-align: center; */
    /* display: inline-block; */
    font-size: 46px;
    fill: #000;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 700;
    text-anchor: middle;
    alignment-baseline: middle;
}
// .container {
//     width: 100%;
//     height: 400px;
//     background-color: #fff;
//     margin: 0 auto;
//     border: 2px solid #fff;
//     box-shadow: 0 15px 40px rgba(0,0,0,.5);
// }
.container {
    position:relative;
	// width:90%;
	max-width:1280px;
	padding:0 10px 0 10px;
	margin:0 auto;
	// overflow:hidden;
    height:auto;   
    // min-height: 100vh;
}
.container .left-about {
    float: left;
    width: 50%;
    // height: 400px;
    position: relative;
}
.container .right-about {
    display: flex;
    width: 50%;
    // height: 400px;
}
/* .formBox {
    width: 100%;
    padding: 80px 40px;
    box-sizing: border-box;
    height: 400px;
    background: #fff;
}
.formBox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #a6af13;
}
.formBox input {
    width: 100%;
    margin-bottom: 20px;
}
.formBox input[type="text"],
.formBox input[type="password"] {
    border: none;
    border-bottom: 2px solid #a6af13;
    outline: none;
    height: 40px;
}
.formBox input[type="text"]:focus,
.formBox input[type="Password"]:focus {
    border-bottom: 2px solid #262626;
}
.formBox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    background: #262626;
    cursor: pointer;
}
.formBox input[type="submit"]:hover {
    background: #a6af13;
}
.formBox a {
    color: #262626;
    font-size: 12px;
    font-weight: bold;
} */
.profileBx {
    position: relative;
    margin: 0 auto;
}
.profilecont {
    width: calc(300px/1.5);
    /* width 100 interesting effect tgt with sidenav */
    // width: 100%;
    height: calc(300px/1.5);
    position: sticky;
    top: 0;
    margin: 0 auto;
    // top:50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    background: transparent;
    border: 10px solid transparent;
    padding: 10px;
    transition: .5s;
    box-shadow: none;
}
.profilecont:before {
    content: '';
    position: absolute;
    width: 24px;
    height: 90%;
    background: #00f5a7;
    left: 50px;
    top: 5%;
    transition: .5s;
    opacity: 0;
    animation-delay: .3s;
    z-index: -1;
}
.profilecont:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 90%;
    background: #00ad76;
    right: 50px;
    top: 5%;
    transition: .5s;
    opacity: 0;
    animation-delay: .3s;
    z-index: -1;
}

.profilecont:hover:before {
    left: -34px;
    opacity: 1;
}
.profilecont:hover:after {
    right: -34px;
    opacity: 1;
}
.profilecont:hover .shape {
    border-radius: 0;
}
.profilecont:hover .shape {
    border-radius: 0;
}
.profilecont:hover {
    background: #fff;
    border: 10px solid #18d498;
}
.shape {
    position: absolute;
    top:50%;
    left: 50%;
    // background-color: #000;
    background-color: #fff;
    // background: transparent;
    
    width: 100%;
    height: 100%;
    transform: translate(-50%,-50%) rotate(45deg) scale(1);
    border: 10px solid #00f5a7;
    border-radius: 50%;
    transition: .5s;
    box-shadow: 0 0 15px rgba(0,0,0,.5);
}
.shape:before {
    content: url("../images/profile.png");
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%) rotate(-45deg) scale(.65);


    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

section.sec1.about {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 500px;
}

section.sec1.about, .top-banner-about{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 500px;
}
section.sec2.about {
    position: relative;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 900px) {
    /* banner */
    .top-banner {
        padding: 10vw 0 !important;
    }
    .top-banner h2 {
        font-size: 7vw !important;
    }
    .top-banner p {
        font-size: 3.5vw !important;
    }
    .mid-banner h2 {
        font-size: 7vw;
    }
    .bottom-banner {
        padding: 30px;
    }
}
@media screen and (max-width: 560px) {
    /* Make Grid Columns 
	   Single Columns on Mobile */
    .one-half,
    .one-third {
        width: 100% !important;
    }
}
// @media screen and (min-width: 560px) {
//     svg.bannerSvg {
//         display: none;
//     }
// }
#bodySidebar-about {
    // background: #2C514C;
    color: white;
    padding: 1.5rem;
    line-height: 2rem;
    flex: 1 0 30%;
    width: 0%;
    max-width: 30%;
    min-height: 100vh;
    display: none;
  }

  @media (min-width: 960px) {
    #bodyContent {
        padding: 1.5rem;
        flex: 1 0 70%;
        width: 70%;
        max-width: 70%;
        height: 100%;
        min-height: 100vh;
        // background: #E3C0D3;
      }
    #bodySidebar-about {
        // background: #2C514C;
        color: white;
        line-height: 2rem;
        flex: 1 0 30%;
        padding: 0;
        margin: 0;
        width: 30%;
        max-width: 30%;
        min-height: 100vh;
        display: block;
      }
      #bodySidebar-about .searchbox, #searchBox {
        position: sticky;
        // top: 0;
        top: 100px;
        overflow: auto;
        max-height: 200px;
      }
      #searchBox {
          top: 320px;
          display: flex;
          width: 90%;
          font-size: 1em;
          height: 2em;
      }
      @media(max-height: 400px) {
        #bodySidebar-about .searchbox {
            z-index: 9999;
            position: fixed;
            max-width: 30%;
            display: flex;

        }
      }
    
  }

  .sidebar-about {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    background: #262626;
    transition: .5s;
    padding: 0 20px;
    margin: 0;
    text-align: center;
    z-index: 99;
    box-shadow: 0 15px 50px rgba(0,0,0,.2);
    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
}

/* ============
  Sidenav
 ============ */
// .sidebar {
//     position: fixed;
//     top: 0;
//     // /* left: 0; */
//     left: -300px;
//     width: 300px;
//     height: 100vh;
//     background: #262626;
//     transition: .5s;
//     padding: 0 20px;
//     margin: 0;
//     text-align: center;
//     // z-index: 799;
//     z-index: 9999;
//     box-shadow: 0 15px 50px rgba(0,0,0,.2);


//     clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);

// }
// .sidebar.active {
//     left: 0;
// }
// .img-logo {
//     width: 100px;
//     height: 100px;
// }
// .logo-container {
//     position: relative;
//     width: 100%;
//     height: 100px;
//     padding-left: 80px;
// }
// .sidebar .img-logo {
//     position: absolute;
//     left: 50%;
//     transition: .5s;
//     transform: translate(-50%, -15px);
// }
// .sidebar .menu {
//     margin: 0;
//     padding: 40px 0;
// }
// svg {
//     position: relative;
//     top:50%;
//     left:50%;
//     transform: translate(-50%, -50%);
// }
// .sidebar .menu li {
//     list-style: none;
//     font-family: sans-serif;
// }
// .sidebar .menu li a{
//     display: block;
//     padding: 10px 0;
//     text-transform: uppercase;
//     color: #fff;
//     font-size: 18px;
//     text-decoration: none;
// }

// .sidebar .menu li a:hover {
//     background: #fc2827;
//     color: #fff; 
// }

// .menu-icon.active span {
//     position: absolute;
//     /* change lines in button */
//     width: calc(100% - 16px);
//     top: calc(50% - 8px);
    
// }
// .menu-icon.active span:nth-child(1){
//     transform:rotate(45deg);
// }
// .menu-icon.active span:nth-child(3){
//     transform:rotate(-45deg);
// }
// .menu-icon.active span:nth-child(2){
//     display: none;
// }
// .social-icon {
//     /* bottom: 40px;
//     left: 0;


//     width: 100%;
//     padding: 0 20px;
//     box-sizing: border-box; */    
//     /* display: flex; */
//     /* flex-wrap: wrap; */
//     position: absolute;
//     width: 100%;
//     height: 50vh;
//     overflow: auto;

//     bottom: 0px;
//     left: 0;

//     /* position: absolute;
//     bottom: 40px;
//     left: 0;
//     display: flex;
//     flex-wrap: wrap;
//     margin: 0;
//     padding: 0;

//     width: 100%;
//      */
     
// }
// ul.social-icons {
//     /* bottom: 40px; */
//     /* left: 0; */
//     /* display: flex; */
//     /* flex-wrap: wrap; */
//     margin: 0;
//     padding: 0;
//     display: block;
// /* flex-wrap: wrap; */

//     /* width: 100%; */

// }
// .social-icon li {
//     width: 20%;
//     text-align: center;
//     list-style: none;
//     display: flex;
//     display: inline-block;
//     flex: 1;
//     flex-wrap: wrap;
// }
// .social-icon li a {
//     display: block;
//     font-size: 18px;
//     color: #fff;
//     width: 40px;
//     height: 40px;
//     text-align: center;
//     line-height: 40px;
//     border-radius: 50%;
//     transition: .5s;
// }
// .social-icon li a:hover {
//     background: #fc2827;
// }

// .rightTriangle { 
//     /* position: absolute;    */
//     width: 100%;
//     height: 50vh;
//     /* width: 50%; */
//     background-color: #7db9e8;    
//     /* margin: 0 0 5px 25px;     */
//     /* display: flex; */
//     /* flex-wrap: wrap; */
//     float: right;
//     -webkit-clip-path: polygon(100% 0%, 75% 100%, 100% 100%);    
//     clip-path: polygon(100% 0%, 75% 100%, 100% 100%);
//     -webkit-shape-outside: polygon(100% 0%, 75% 100%, 100% 100%);    
//     shape-outside: polygon(100% 0%, 75% 100%, 100% 100%);
// }
// @media (max-width: 900px){
//     .logo-container {
//         padding-left: 0;
//     }
//     .logo-container .img-logo {
//         left: 0;
//         transform: translate(-20px, -23px);
//     }
// }

.sidebar-about {
    position: sticky;
    top: 0;
    left: 0;
    // width: 300px;
    // height: 100vh;
    background: #262626;
    transition: .5s;
    padding: 0 20px;
    margin: 0;
    text-align: center;
    z-index: 99;
    box-shadow: 0 15px 50px rgba(0,0,0,.2);


    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
    // background-color: #7db9e8;
    background-color: #eee;
    

}
 .social-icon-about {
    position: sticky;
    top: 0;
}
.sidebar-about .profileBx {
    position: sticky;
    top: 100px;
}

svg {
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.menu-icon.active span:nth-child(1){
    transform:rotate(45deg);
}
.menu-icon.active span:nth-child(3){
    transform:rotate(-45deg);
}
.menu-icon.active span:nth-child(2){
    display: none;
}
.social-icon-about {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: auto;

    bottom: 0px;
    left: 0;

    /* position: absolute;
    bottom: 40px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    width: 100%;
     */
     
}
ul.social-icons-about {
    margin: 0;
    padding: 0;
    display: block;
}
.social-icon-about li {
    width: auto;
    list-style: none;
    display: inline-block;
    flex: 1;
    flex-wrap: wrap;

}
.social-icon-about li a {
    display: block;
    font-size: 18px;
    width: 100%;
    // background-color: #fff;
    color: #000;

    // text-align: center;
    line-height: 40px;
    transition: .5s;
}
.social-icon-about li a:hover {
    background: #fc2827;
}

.rightTriangle-about { 
    width: 60vw;
    height: 60%;
    // background-color: #7db9e8;
    background-color: #e4e2e2;
    float: right;
    margin: auto;
    -webkit-clip-path: polygon(100% 0%, 75% 100%, 100% 100%);    
    clip-path: polygon(100% 0%, 75% 100%, 100% 100%);
    -webkit-shape-outside: polygon(100% 0%, 75% 100%, 100% 100%);    
    shape-outside: polygon(100% 0%, 75% 100%, 100% 100%);
}
@media (max-width: 900px){
    .logo-container {
        padding-left: 0;
    }
    .logo-container .img-logo {
        left: 0;
        transform: translate(-20px, -23px);
    }
}