/* Contact page
include: form, buttons, fields, input-effects
*/
/*--------------------------------------------------------------
 Contact - Custom Form
--------------------------------------------------------------*/
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	// color: $color__text-input;
	// border: 1px solid $color__border-input;
	border-radius: 3px;
	padding: 3px;

	&:focus {
		// color: $color__text-input-focus;
	}
}

select {
	// border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}
/* input field */

.contact-form-container{
    @media (min-width: 768px) {
        border-left: 1px solid #404040;
    }
    margin-top: 8%;
    .input-container{
        margin: 20px 0;
    }
    .contact-input{
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border-radius: 0;
        border: none;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        max-width: 330px;
        width: 100%;
   
    }

    .contact-textarea{
        height: 180px;
    }

    .contact-label{
     
            // background-color: #0F92B9;
            color: black;
            padding: 5px 10px;
            border-radius: 5px;
            text-transform: uppercase;
    
    }

    .recaptcha-container{
        .wpcf7-form-control-wrap{
            margin: 0 auto;
        }

        .recaptcha{
            margin: 0 auto;
        }
    }

    .contact-btn{
        display: inline-block;
        height: 38px;
        padding: 0 30px;
        color: black;
        text-align: center;
        font-size: 11px;
        font-weight: 600;
        line-height: 38px;
        letter-spacing: .1rem;
        text-transform: uppercase;
        text-decoration: none;
        white-space: nowrap;
        background-color: white;
        border-radius: 0;
        border: 1px solid black;
        cursor: pointer;
        transition: all 1s ease;

        &:hover{
            background-color: #0F92B9;
            color: white;
        }
        &:focus{
            outline: 0;
        }
    }
}



// etc
.title {
    text-align: center;
    padding: 50px 0 20px;
}
.title h1 {
    margin: 0;
    padding: 0;
    color: #262626;
    text-transform: uppercase;
    font-size: 36px;
}
// .container {
//     width: 100%;
//     height: 400px;
//     background-color: #fff;
//     margin: 0 auto;
//     border: 2px solid #fff;
//     box-shadow: 0 15px 40px rgba(0,0,0,.5);
// }
.container .left-contact {
    float: left;
    width: 50%;
    height: 400px;
    /* background: url();
    background-size: cover; */
}
.container .right {
    float: right;
    width: 50%;
    height: 400px;
    box-sizing: border-box;
}
.formBox {
    width: 100%;
    padding: 80px 40px;
    box-sizing: border-box;
    height: 400px;
    background: #fff;
}
.formBox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #a6af13;
}
.formBox input {
    width: 100%;
    margin-bottom: 20px;
}
.formBox input[type="text"],
.formBox input[type="password"] {
    border: none;
    border-bottom: 2px solid #a6af13;
    outline: none;
    height: 40px;
}
.formBox input[type="text"]:focus,
.formBox input[type="Password"]:focus {
    border-bottom: 2px solid #262626;
}
.formBox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    background: #262626;
    cursor: pointer;
}
.formBox input[type="submit"]:hover {
    background: #a6af13;
}
.formBox a {
    color: #262626;
    font-size: 12px;
    font-weight: bold;
}


.contact-animation {
    margin: 0;
    padding: 0;
    animation: day2night 15s linear infinite;
    position: relative;
    overflow: hidden;
}
.circle-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    animation: animateCircle 25s linear infinite;
}

.rocket {
    width: 50%;
    height: 2px;
    background: transparent;
    position: absolute;
    top: calc(50% - 1px);
    transform-origin: right;
    animation: animateRocket 10s linear infinite;
}
.rocket img {
    transform: rotate(-60deg) translateY(50px);
}
@keyframes animateCircle {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) scale(.8);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-360deg) scale(.8);
    }
}
@keyframes animateRocket {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes day2night {
    0% {
        background: #462482;
    }
    10% {
        background: #462482;
    }
    50% {
        background: #072140;
    }
    90% {
        background: #462482;
    }
    100% {
        background: #462482;
    }
}