/* Home page can have a custom banner*/

/* ============
  Banner Content
 ============ */
 .body-home {
    margin: 0;
    padding: 0;
    background-color: #F3F3FC;
}
.banner {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    // background: #fff;
    justify-content: center;
    align-items: center;
}
.bannerText {
   position: absolute;
   top: 50%;
   left: 10%;
   transform: translateY(-50%);
   max-width: 700px;
}
.bannerText h2,
.bannerText h3 {
   position: relative;
   margin: 0;
   padding: 0;
   display: inline-block;
       transform-origin: left;
       text-transform: uppercase;
    //    transform: scaleX(1);
    //    animation: revealTextReverse 1s ease-in-out forwards;
}
.bannerText h2 {
   font-size: 6em;
}
.bannerText h3 {
   font-size: 3em;
//    animation-delay: 1s;
//    font-family: "ff-dagny-web-pro, sans-serif;";
font-weight: 700;
font-size: 60px;
line-height: 60px;
}
.bannerText h3.firstName {
    // color: #475e8a;
    color: #8f2d20;
    display: block;
    
}
.bannerText h3.lastName {
    // color: #335ba3;
    color: #a31805;
    display: block;
}
.bannerText h3 span {
   font-size: 1.5rem;
   opacity: 0;
   animation: fadeIn 1s linear forwards;
//    font-size: 30px;
   line-height: 30px;
   color: #262626;
position: relative;
text-shadow: -2px 2px 5px rgba(255, 255, 255, .8);
display: inline-block;
margin: 0;
padding: 0;
-webkit-background-clip: text;
// -webkit-text-fill-color: transparent;
// background-color: #eee;
}
.bannerText h3 span:before {
    content: attr(data-text);
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    color: #000;

        z-index: -1;
    //     text-shadow: -5px 5px 20px #000,
    //                 -10px 10px 30px #000,
    //                 -20px 15px 40px #000,
    //                 -25px 20px 50px #000;
    // width: 100%;
    text-shadow: -2px 2px 5px rgba(0, 0, 0, .8);

}
.bannerText h2:before, 
.bannerText h3:before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
//    background: #000;
   width: 100%;
   height: 100%;
       transform-origin: right;
    //    animation: revealText 1s ease-in-out forwards;
}
.bannerText h3:before {
   animation-delay: 1.5s;
}

.scrolldown {
   opacity: 0;
   animation: fadeInBottom 0.5s linear forwards;
}
@keyframes revealText {
   0% {
       transform: scaleX(1);

   }
   100% {
       transform: scaleX(0);

   }
}
@keyframes revealTextReverse {
   0% {
       transform: scaleX(0);

   }
   100% {
       transform: scaleX(1);
   }
}
@keyframes fadeIn {
   0% {
       opacity: 0;
   }
   100% {
       opacity: 1;
   }
}
@keyframes fadeInBottom {
   0% {
       transform: translateY(50px);
       opacity: 0;
   }
   100% {
       transform: translateY(0);
       opacity: 1;
   }
}
/* ============
 Main Content
============ */
.container:nth-child(4) {
    position: relative;
    width: 100%;
    /* quick fix to skew */
        overflow: hidden;
}
.container:nth-child(5) {
    position: relative;
    width: 100%;
    /* quick fix to skew */
        overflow-x: hidden;
}



// custom footer
/* Footer */
.fa, .fab, .fal, .far, .fas {
    font-family: "Font Awesome 5 Brands";
}

.he-social-button {
    /* position: relative; */
    line-height: 1;
    border: 0;
    margin: 0;
    padding: 0;
}

.he-social-button svg {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* margin: 0 auto; */
    margin: 0;
    padding: 0;
    z-index: 2;
    color: #fff;
}
/* .box.snake:hover .he-social-button svg {
    color: yellow;
}*/
/* .box.snake:nth-child(1) .he-social-button:hover svg {
    color: red;
    box-shadow: 0 6px 0 rgba(219, 68, 55,1);
} 
.box.snake:nth-child(2) .he-social-button:hover svg {
    color: red;
    box-shadow: 0 6px 0 rgba(219, 68, 55,1);
} 
.box.snake:nth-child(3) .he-social-button:hover svg {
    color: red;
    box-shadow: 0 6px 0 rgba(219, 68, 55,1);
} 
.box.snake:nth-child(4) .he-social-button:hover svg {
    color: red;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 
 */

/* snake */

.container-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    margin: 0;
    padding: 0;
    /* background-color: #262626; */
    display: flex;
}
.container-box .box {
    display: inline-block;
    position: relative;
    list-style: none;
    width: 25%;
    height: 200px;
    /* height: 100%; */
    /* width: 250px; */
margin: 0 auto;
    /* left: 50%; */
    /* transform: translateX(-50%); */
}
.container-box .box img {
    width: 100%;
    /* height: 250px; */
    display: block;
    display: flex;

}
.container-box .box .icon .fa {
    width: 100%;
}
.container-box .box.snake {
    position: relative;
    overflow: hidden;
}
.overlay {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    /* background: rgba(0,0,0,0.5); */
    top: 0;
    left: 0;
}
.overlay h2 {
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 0%;
    transform: translateY(-50%);
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    font-family: sans-serif;
}

.he-social-button svg {
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    margin: 0 auto;
    z-index: 2;
}

.snake:nth-child(1) .overlay{
    background: rgba(219, 68, 55,1);
}
.snake:nth-child(2) .overlay{
    background: rgba(26,26,26,1);
}
.snake:nth-child(3) .overlay{
    background: rgba(0, 119, 181,1);
}
.snake:nth-child(4) .overlay{
    background: rgba(29, 161, 242,1);
}
.snake:nth-child(5) .overlay{
    background: rgba(26, 26, 26,1);
}
/* ============
  skewed 
 ============ */
/* skewed  */
.sidebar:before {
    /* content: '';
    position: absolute;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    background: #fff; */
    /* clip-path: polygon(100% 0, 100% 0%, 75% 100%, 100% 100%); */
    /* clip-path: polygon(100% 0, 48% 100%, 100% 100%); */

    shape-outside: polygon();
    /* float: right; */
    display: inline-block;

}
.skewed {
    /* position: absolute;
    position: relative;
    bottom: 0;
    right: 0;
    float: right;
    border-width:   0 0 100vh 100px; 
    border-color: transparent transparent transparent #fff;
    border-style: solid;
    transform: rotate(180deg);
    shape-outside: polygon(); */
}
section.sec {
    position: relative;
    width: 100%;
    height: 100vh;
    // min-height: 600px;
        /* quick fix to skew problem */
        overflow: hidden;
}
section.sec1 {
    position: relative;
    // background-color: #fff;
}
section.sec2 {
    // background:#fff;
    padding: 50px 150px;
    box-sizing: border-box;
    height: auto;
    min-height: 250px;
}
section.sec2 h1 {
    margin: 0;
    padding: 0;
    font-size: 48px;    
}
section.sec2 p {
    font-size: 18px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}
section.sec3 {
    background: #DDDDDD;
    height: 100vh;
    min-height: 600px;
}
section.sec2 .skewed2, section.sec3 .skewed2 {
    max-height:0px;
}
/* .skewed1 {
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 100px 0 0 1400px;
    border-color: transparent transparent transparent #fff;
    border-style: solid;
} */
.skewed2 {
    position: absolute;
    top: 0;
    left: 0;
    border-width:  0 0 200px 100vw; /* top left bottom right */
    // border-color: transparent transparent transparent #FE2169;
    border-color: transparent transparent transparent #8f2d20;
    border-style: solid;
}


.skewed3 {
    position: absolute;
    bottom: 0;
    right: 0;
    border-width:  200px 100vw 0 0 ; /* top left bottom right */
    border-color: transparent #8f2d20 transparent transparent;
    // border-color: transparent #000 transparent transparent;
    border-style: solid;
}

/* wavy */
/* section.wavy {
    position: relative;
    margin: 0;
    padding: 0;
    background: transparent;
    width: auto;
} */

.skewedText {
    position: absolute;
    z-index: 1;
    text-align: center;
    width: 100%;
    // top:50%;
    left: 50%;
    transform: translate(-50%, -100%) rotate(-5deg) skew(5deg);
    text-transform: uppercase;
    color: #fff;
    font-size: 3em;
}

#curve {
    position: absolute;
    bottom: 0;
    /* transform: translateX(-50%) rotate(180deg); */
    width: 100%;
    /* z-index: 10000000; */
}
#curve2{
    position: absolute;
    bottom: 0;
    right: 0;
    transform: perspective(500px) translateY(-90%) translateX(-50%) scaleX(-1);
}
#curve path, #curve2 path {
    /* dark */
    // fill: #273036; 
    /* green */
    /* fill: #00cba9; */
    /* bright */
    fill: rgb(233, 244, 247);
}

.servicesBx {
    position: relative;
    max-width: 600px;
    padding: 20px;
    margin: 20px auto;
    box-sizing: border-box;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    display: flex;
    transition: .5s;
}
.servicesBx:hover {
    box-shadow: 0 15px 30px rgba(0,0,0,.5);
}
.servicesBx .imgBx {
    width: 150px;
    flex: 0 0 150px;
}
.servicesBx .imgBx img {
    max-width: 100%;
}
.servicesBx .content {
    padding-left: 20px;
}
.servicesBx .content h2 {
    margin: 0;
    padding-left: 0;
    color: #ff005c;
    font-size: 22px;
}
.servicesBx .content p {
    margin: 0;
    padding: 10px 0 0;
    text-align: justify;
}

@media (max-width: 984px) {
    .bannerImg .container-mobile{
        padding-top: 100px;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    body {
        overflow-x: hidden;
    }
    .skewedText {
        transform: translate(-50%, -100%) rotate(-10deg) skew(5deg);
        font-size: 30px;
    }
    .skewed2 {
        border-width:  0 0 150px 100vw; /* top left bottom right */
        // border-color: transparent transparent transparent #FE2169;
    }
    
    
    .skewed3 {
        border-width:  150px 100vw 0 0 ; /* top left bottom right */
    }
}
@media (max-width: 640px) {
    .bannerImg {
        margin: 0;
        padding-top: 400px;
        margin: 0 auto;
    }
    body {
        overflow-x: hidden;
    }
    .skewedText {
        transform: translate(-50%, -100%) rotate(-10deg) skew(5deg);
        font-size: 30px;
    }

.skewed2 {
    border-width:  0 0 100px 100vw; /* top left bottom right */
    // border-color: transparent transparent transparent #FE2169;
}


.skewed3 {
    border-width:  100px 100vw 0 0 ; /* top left bottom right */
}
}