// /*--------------------------------------------------------------
//  Projects - Projects page
// --------------------------------------------------------------*/
// .projects-page{
//     .project-tag-btn{
//         margin: 10px 5px;
//         padding: 8px 15px;
//         font-weight: bold;
//         cursor: pointer;
//         border: none;
//         transition: 0.6s all ease;
        
//         &:hover{
//             // background-color: $color__main-color;
//             color: white;
//         }
//         &:focus{
//             outline: 0;
//         }
//     }

//     .project-tag-btn-active{
//         // background-color: $color__main-color;
//         color: white;
//     }

//     .archive-project-item{

//         margin: 3% 0;
//         border: 1px solid #d3d3d3;
//         transition: .6s ease all;
//         .project-name{
//             margin: 3px 0;
//             padding: 3px 0 6px;
//             color: #404040;
//             transition: .6s ease all;
//         }
//         .screenshot-container{
//             background-color: white;
//             overflow: hidden;
//             img{
//                 display: block;
//                 transition: .6s ease all;
//             }
//         }

//         &:hover{
//             // background-color: $color__main-color;
//             box-shadow: 3px 3px 6px gray;
//             border: 1px solid transparent;
//             .project-name{
//                 color: white;
//             }
//             .screenshot-container{
//                 background-color: white;
//                 img{
//                     // -webkit-filter: brightness(0.7);
//                     // filter: brightness(0.7);
//                     opacity: 0.6;
//                     transform: scale(1.05);
//                 }
//             }
          
//         }
//     }
// }
// /*--------------------------------------------------------------
//  Projects - Parallax background
// --------------------------------------------------------------*/
.body-projects {
    background: #2DA3C7;
    min-height: 200vh;
    margin: 0 auto;
}

.bannerText-projects {
    position: relative;
    width: 100%;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    // position: relative;
    display: flex;
    flex-direction: column;
    // justify-content: flex-end;
    margin: 0 auto;
    // margin: 0 auto;
    // justify-content: center;
}
.bannerText-projects h3, .bannerText-projects h4 {
    display: flex;
    width: 100%;
    justify-content: center;
}
.parallaxCont {
    position: relative;
    width: 100%;
    min-height: 600px;
    height: 100vh;
    /* background-color: #FEB01C; */
    background-color: #2DA3C7;
}
.parallaxCont #parallax-scroll {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../firewatch-.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/*--------------------------------------------------------------
//  Projects - Search Filter
// --------------------------------------------------------------*/
// .projects-heading {
//     position: relative;
//     // top: 100px;
//     padding: 20px;
//     margin: 20px 0;
//     display: flex;
//     justify-content: flex-start;
//     background-color: transparent;
// }
// .searchbox {
//     // background: #2c3e50;
//     padding: 6px;
//     margin: 0 auto;
// }
// #searchbox {
//     display: block;
//     border: none;
//     background: #2c3e50;
//     padding: 6px;
//     font-size: 18px;
//     border-radius: 6px;
//     color: #fff;
//     width: 90%;
//     margin: 0 auto;
// }

// .filter-btn {
// /* position: sticky; */
// position: relative;
// /* top: 100px; */
// /* z-index: 9999; */
// /* display: flex; */
// /* justify-content: center; */
// margin: 0 auto;
// max-width: 1020px;
// }
// .filter-btn p {
//     margin: 0;
//     padding: 0;
//     font-size: 14px;
// font-family: 'Roboto', sans-serif;
// font-weight: 500;
// text-transform: none;
// }
// h3.filter-title {
//     color: #fff;
//     text-shadow: 0 0 1px #ccc;
// }

// .filter-btn ul li {
//     list-style: none;
//     /* width: 100%; */
//     display: flex;
//     float: left;
    
//     /* padding: 10px 20px; */
//     padding: 5px 10px;
//     /* color: #fff; */
//     color: #000;
//     /* border: 1px solid #fff; */
//     border: 1px solid #262626;
//     /* margin-right: 15px; */
//     margin: 0 15px 15px 0;
    
//     font-family: arial;
//     text-transform: uppercase;
    
//     background-color: #E6E6E6;
//     border-radius: 3px;
//     /* box-shadow: 0 0 2px rgba(230, 230, 230,.5); */
//     box-shadow: 0 0 2px rgba(0, 0, 0,.5);
//     border: none;
//     }
    
//     .filter-btn ul li:hover,
//     .button.active-filter {
//     /* background: #fff; */
//     /* color: #262626; */
//     /* background: #262626; */
//     background: #0F92B9;
//     color: #fff;
//     cursor: pointer;
//     }
// /*--------------------------------------------------------------
//  Projects - CardBox (Code, Tools)
//           - Card (Design (?->svg animation w illustrator) cardbox instead?)
// --------------------------------------------------------------*/
// .cards-container {
//     max-width: 1200px;
//     width: 100%;
//     margin: 0 auto;
//     justify-content: center;
//     display: grid;
//     grid-template-columns: repeat(auto-fill, minmax(250px, max-content));
//     // padding: 0 30px;
//     position: relative;
//     grid-gap: 30px;
//     // transition: .5s all;
// }
// .cardBox {
//     position: relative;
//     // margin: 80px auto 0;
//     text-align: center;
//     min-height: 250px;
//     box-shadow: 0 0 2px #000;
//     width: 100%;
//     // transition: 0.5s;
//     transform: scale(.9);
//     max-width: 450px;
// }
// .cardBox:hover .project-name {
//     background-color: #0F92B9;
//     // transform: scale(1);
//     // bottom: 0;
// }
// .cardBox:hover .project-name p {
//     color: #fff;
//     text-shadow: 0 0 1px #fff;
// }

//  .cardBox:hover {
//     transform: scale(1);
// }
//  .cardBox:hover p {
//     margin: 0;
//     padding: 0;
// }

//  .cardBox .imgCon  {
//     position: absolute;
//     transition: .5s;
//     width: 100%;
//     background: transparent;
//     top: 0;
//     z-index: 999;    
//     transition: .5s;

// }
//  .cardBox .imgCon .imgCir {
//     background-color: #fff;
//     position: relative;
//     margin: 0 auto;
//     transform: translateY(-50%);
//     width: 70px;
//     height: 70px;
//     box-shadow: 0 0 3px #000;
//     border-radius: 50%;
// }
//  .cardBox .imgCon .imgCir img {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     width: 80%;
//     z-index: 1;
//     transition: .5s;
// }

// .imgBox .card-image {
//     position: absolute;
//     width: 100%;
//     left: 0;
//     top: 0;
//     height: 250px;
//     object-fit: cover;
//     transition: .5s;
// }
// .imgBox .card-image-design {
//     object-fit: contain;
// }

// .cardBox a {
//     text-decoration: none;
// }

// // .project-name {
// //     // position: relative;
// //     display: block;
// //     bottom: 0;
// //     left: 0;
// //     width: 100%;
// //     height: 100%;
// //     margin: 0;
// //     padding: 0;
// //     background-color: rgba(255,255,255, 0.6);
// //     transition: .5s;
// //     transform-origin: bottom;
// //     color: #000;
// //     position: absolute;
// //     transform: scale(1);
// // }

// .project-name {
//     position: relative;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//     margin: 0;
//     padding: 0;
//     background-color: rgba(255,255,255, 0.6);
//     transition: .5s;
//     transform-origin: bottom;
//     color: #000;
//     position: absolute;
//     transform: scale(1);
//     height: 40px;
// }
// .project-name p {
//     font-family: 'Roboto', sans-serif;
//     font-size: 20px;
//     font-weight: 500;
//     line-height: 40px;
//     text-shadow: 0 0 1px #000;
//     display: block;
//     // justify-content: center;
//     // align-items: center;
// }
// @media (max-width: 768px) {
//     .cardBox {
//        margin-top: 80px;
//    }
//     .cardBox .imgCon .imgCir {
//        width: 80px;
//        height: 80px;
//    }
// }
// @media (min-width: 960px) {
//    .projects-heading {
//        display: flex;
//        justify-content: flex-start;
//        background-color: transparent;
//        position: sticky;
//        top: 100px;
//        z-index: 700;
//        width: 20%;
//    }
//    .cards-container {
//        justify-content: end;
//    }
// }

// .body-home .sec-home.cards-container {
//     max-width: 1200px;
//     margin: 50px auto;
//     display: grid;
//     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
//     padding: 0 30px;
//     position: relative;
//     grid-gap: 30px;
// }
// .sec-home.cards-container {
//     max-width: 960px;
//     margin: 0 auto;
//     display: grid;
//     grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
//     padding: 0 30px;
//     position: relative;
//     grid-gap: 30px;
// }

// .cardWrap {
//     width: 100%;
//     margin: 0 auto;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     position: relative;
// }

// .cardWrap h2 {
//     margin:20px auto;
//     font-size: 20px;
//     display: flex;
//     justify-content: center;
// width: 100%;
//     align-items: center;
// }
// .sec-home.cards-container .cardBox {
//     transition: .5s;
//     position: absolute;
//     top: 0;
// }
// .sec-home.cards-container .cardBox .project-name {
//     position: absolute;
//     bottom: 0;
// }
// .sec-home.cards-container .cardBox:hover .project-name {
//     transform: scale(1);
// }
// 

.project-name {
    position: relative;
}
  .project-name p {
    //   margin: 0 !important;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%) scale(.95);
      display: block;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 500;
      text-shadow: 0 0 1px #000;
      width: 100%;
    //   width: 100%;
      text-align: center;
  }

  #siteWrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 100%;
    min-height: 100vh;
    position: relative;
    z-index: 1;
  }
  
  #appWrapper {
    display: block;
    width: calc(100% - 208px);
    flex: 1;
    height: 100%;
    min-height: 100vh;
    // position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 208px;
    // background: orange;
  }
  
  #appInnerWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    min-height: 100vh;
    // background: #ccc;
    position: relative;
    align-items: stretch;
  }
  
  #bodyContent {
    padding: 1.5rem;
    flex: 1 0 70%;
    width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 100vh;
    // background: #E3C0D3;
  }
  
  #bodySidebar-projects {
    // background: #2C514C;
    color: white;
    padding: 1.5rem;
    line-height: 2rem;
    flex: 1 0 30%;
    width: 0%;
    max-width: 30%;
    min-height: 100vh;
    display: none;
  }

  @media (min-width: 960px) {
    #bodyContent {
        padding: 1.5rem;
        flex: 1 0 70%;
        width: 70%;
        max-width: 70%;
        height: 100%;
        min-height: 100vh;
        // background: #E3C0D3;
      }
    #bodySidebar-projects {
        // background: #2C514C;
        color: white;
        padding: 1.5rem;
        line-height: 2rem;
        flex: 1 0 30%;
        width: 30%;
        max-width: 30%;
        min-height: 100vh;
        display: block;
      }
      #bodySidebar-projects .searchbox, #searchBox {
        position: sticky;
        // top: 0;
        top: 100px;
        overflow: auto;
        max-height: 200px;
      }
      #searchBox {
          top: 320px;
          display: flex;
          width: 90%;
          font-size: 1em;
          height: 2em;
      }
      @media(max-height: 400px) {
        #bodySidebar-projects .searchbox {
            z-index: 9999;
            position: fixed;
            max-width: 30%;
            display: flex;

        }
      }
    
  }


/*--------------------------------------------------------------
# Reset Variable
--------------------------------------------------------------*/
*, *:before, *:after {
    box-sizing: border-box; }
  
  html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit; }
  
  img {
    max-width: 100%;
    height: auto; }
  
  body {
    margin: 0 auto 50px; }
  
  h1, h2, h3, p {
    margin-top: 0; }
/*--------------------------------------------------------------
# Projects Page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
 Projects - Projects page
--------------------------------------------------------------*/


/*--------------------------------------------------------------
 Projects - Parallax background
--------------------------------------------------------------*/
/*--------------------------------------------------------------
 Projects - Search Filter
--------------------------------------------------------------*/
.projects-heading {
  position: relative;
  padding: 20px;
  margin: 20px 0;
  display: flex;
  justify-content: flex-start;
  background-color: transparent; }

.searchbox {
  padding: 6px 0;
  margin: 0 auto; }



.filter-btn {
  /* position: sticky; */
  position: relative;
  /* top: 100px; */
  /* z-index: 9999; */
  /* display: flex; */
  /* justify-content: center; */
  margin: 0 auto;
  max-width: 1020px; 
}

.filter-btn p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: none; }

h3.filter-title {
  color: #fff;
  text-shadow: 0 0 1px #ccc; }

.filter-btn ul li {
  list-style: none;
  /* width: 100%; */
  display: flex;
  float: left;
  /* padding: 10px 20px; */
  padding: 5px 10px;
  /* color: #fff; */
  color: #000;
  /* border: 1px solid #fff; */
  border: 1px solid #262626;
  /* margin-right: 15px; */
  margin: 0 15px 15px 0;
  font-family: arial;
  text-transform: uppercase;
  background-color: #E6E6E6;
  border-radius: 3px;
  /* box-shadow: 0 0 2px rgba(230, 230, 230,.5); */
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  border: none; }

.filter-btn ul li:hover,
.button.active-filter {
  /* background: #fff; */
  /* color: #262626; */
  /* background: #262626; */
  background: #0F92B9;
  color: #fff;
  cursor: pointer; }

/*--------------------------------------------------------------
 Projects - CardBox (Code, Tools)
          - Card (Design (?->svg animation w illustrator) cardbox instead?)
--------------------------------------------------------------*/
.cards-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
  position: relative;
  grid-gap: 30px; }

.cardBox {
  position: relative;
  text-align: center;
  min-height: 250px;
  box-shadow: 0 0 2px #000;
  width: 100%;
  transform: scale(0.95);
  max-width: 450px; }

.cardBox:hover .project-name {
  background-color: #0F92B9; }

.cardBox:hover .project-name p {
  color: #fff;
  text-shadow: 0 0 1px #fff; }

.cardBox:hover {
  transform: scale(1); 
}

.cardBox:hover p {
  margin: 0;
  padding: 0; }

 .imgCon {
  position: absolute;
  transition: .5s;
  width: 100%;
  background: transparent;
  top: 0;
//   z-index: 999;
  transition: .5s;
z-index: 999;
}

 .imgCon .imgCir {
  background-color: #fff;
  position: relative;
  margin: 0 auto;
  transform: translateY(-50%);
  width: 70px;
  height: 70px;
  box-shadow: 0 0 3px #000;
  z-index: 9;
  border-radius: 50%; }

.cardBox .imgCon .imgCir img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 70px;
  z-index: 1;
  transition: .5s; 
}

.imgBox .card-image, .imgBox .card-image-design {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 250px;
  object-fit: cover;
  transition: .5s; }

.imgBox .card-image-design {
  object-fit: contain;
 }
 .imgBox {
     position: relative;
 }
// .imgBox img {
//     transform: scale(.9);
// }
// .imgBox:hover img {
//     transform: scale(1);
// }
.cardBox a {
  text-decoration: none; }

/* future update: use its properties for the circle - dropdown */
.project-name {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.6);
  transition: .5s;
  transform-origin: bottom;
  color: #000;
  position: absolute;
  height: 40px;
// height: 100%;
// height: 80px;
// line-height: 80px;
z-index: 999;
 }


@media (max-width: 768px) {

  .cardBox .imgCon .imgCir {
    width: 80px;
    height: 80px; } }
@media (min-width: 960px) {
  .projects-heading {
    display: flex;
    justify-content: flex-start;
    background-color: transparent;
    position: sticky;
    top: 100px;
    z-index: 700;
    width: 20%; }

  .cards-container {
    justify-content: end; } }
.body-home .sec-projects.cards-container {
  max-width: 1200px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 0 30px;
  position: relative;
  grid-gap: 30px; }

.sec-projects.cards-container {
  max-width: 960px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding: 0 30px;
  position: relative;
  grid-gap: 30px; }

.cardWrap {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative; }

.cardWrap h2 {
  margin: 20px auto;
  font-size: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center; }

.sec-projects.cards-container .cardBox {
  transition: .5s;
  position: absolute;
  top: 0; }

.sec-projects.cards-container .cardBox .project-name {
  position: absolute;
  bottom: 0; }

.sec-projects.cards-container .cardBox:hover .project-name {
  transform: scale(1); }


/* [Main - Landing] 
========================================================================== */
/* [Main - Projects ]
========================================================================== */
section#landing .landing, section#projects .projects, section#design_process .design_process, section#about .about, section#contact .contact {
  top: 0;
  position: sticky;
  z-index: 999;
  /* margin: 76px 0; */
  /* min-height: 50px; */
  /* height: 10vh; */
  height: 50px;
  /* max-height: 76px; */
  /* height: 76px; */
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f92b9;
  /* background-color: rgb(255, 90, 55); */
  margin-top: 30px; }

.landing {
  margin-top: 0; }

.landing h1, .projects h1, .design_process h1, .about h1, .contact h1 {
  font-weight: 700;
  font-size: 30px; }

.landing_wrapper, .projects_wrapper, .design_process_wrapper, .about_wrapper, .contact_wrapper {
  min-height: calc(100vh - 50px);
  background-color: #fff;
  margin-bottom: 20px;
  /* padding: 70px 20px; */
  padding: 100px 20px;
  position: sticky;
  top: 100px; }

/* projects expanded */
// .projects_grid_container {
//   max-width: 1020px;
//   padding: 30px;
//   margin: 0 auto;
//   display: grid;
//   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
//   grid-gap: 30px; }

// .project {
//   position: relative;
//   height: 277.33px; }

// .project:before {
//   content: "";
//   display: inline-block;
//   padding-bottom: calc(100%/(3/2)); }

// .project_img {
//   position: absolute;
//   display: flex;
//   top: 0;
//   left: 0;
//   width: 135px;
//   height: 135px; }

// .project_img h2 {
//   display: block;
//   position: absolute;
//   width: 100%;
//   margin-left: 10px;
//   font-size: 1.5em;
//   text-align: center;
//   color: black; }

// .project_content {
//   position: absolute;
//   left: 0;
//   bottom: 50px;
//   margin: 0;
//   padding: 10px;
//   background-color: rgba(255, 255, 255, 0.4);
//   width: 100%; }

// .project_content h2 {
//   margin: 0;
//   padding: 0;
//   background-color: #ff5a37;
//   color: black;
//   text-align: center; }

// .spacing {
//   position: absolute;
//   bottom: -20px;
//   width: 100%;
//   padding: 10px;
//   background-color: rgba(255, 255, 255, 0.4); }
