/* ============
  Single - Flex box
 ============ */
section.split {
    position: relative;
    /* height: 100vh; */
    display: flex;
    width: 100%;
    flex-direction: column;
}
section.split .screen-single {
    position: relative;
    flex-grow: 1;
    // transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
        /* overflow: hidden; */
}
section.split .screen-single:hover {
    flex-grow: 5;
}
        // section.split .screen-single:nth-child(1) {
        //     background: #fff;
        //     order: 2;
        // }
        // section.split .screen-single:nth-child(2) {
        //     background: #fff;
        //     order: 1;
        // }  
section.split .screen-single:nth-child(2) .content-single {
    background: #fff;
}
    @media (min-width:912px){
        section.split {
            position: relative;
            /* height: 100vh; */
            display: flex;
            flex-direction: row;
        }
        section.split .screen-single {
            position: sticky;
            top: 0;
            height: 100vh;
            flex-grow: 1;
            // transition: .8s;
            display: flex;
            justify-content: center;
            align-items: center;
                /* overflow: hidden; */
        }
        section.split .screen-single:hover {
            flex-grow: 5;
        }
        section.split .screen-single:nth-child(1) {
            background: #fff;
            order: 1;
        }
        section.split .screen-single:nth-child(2) {
            background: #ff8;
            order: 2;
        }  
        section.split .screen-single .card-single {
            /* max-width: 300px; */
            width: 100%;
            display: flex;
            flex-direction: column;
            height: 100%;
            text-align: center;
            transition: .5s;
            position: relative;
            margin: 0 auto;
        }
        section.split .screen-single .card-single .imgBx {
            width: 100%;
            margin: 0 auto;

        }
        section.split .screen-single .card-single .imgBx img {
            width: 50%;
            border-radius: 50%;
        }
        section.split .screen-single .card-single a {
            background: #262626;
            color: #fff;
            text-decoration: none;
            width: 75%;
            height: 15%;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: 0%;
        }
        
        .split .content-single {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0;
            /* padding: 100px; */
            background: #fff;
            // transition: .2s;
            opacity: 0;
            visibility: hidden;
        }
            section.split .screen-single a:hover ~ .content-single,
            .content-single:hover  {
                opacity: 1;
                visibility: visible;
                    overflow: auto;
            }
        section.split .screen-single:nth-child(2) .content-single {
            background: #ff8;
        }
    }



/* .single-header {
    padding: 0 40px;
} */
.single-header h1 {
    text-align: center;
}
.split .content-single {
    display: none;
}
.project_description {
    display: block;
    visibility: visible;
}

@media (min-width:768px){
    .single-header p {
        display: none;
    }
    .split .content-single {
        display: block;
    }
    .project_description {
        display: none;
        visibility: none;
    }
}

/* ============
  Single - template 
 ============ */
.body-single {
    /* background-color: #284e66; */
     background-color: #28282e;
    /* max-width: 1680px; */
    margin: 0 auto 0; 
    display: grid;
    position: relative;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "grid_wrapper grid_wrapper"
    "footer footer";
    z-index: 999;
}


.wrapper-grid {
    /* display: grid;
    position: relative;
    width: 100%;
    grid-template-columns: auto 100px;
    grid-template-rows: auto;
    grid-template-areas: 
    "wrapper side_nav_widget"; */
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "side_nav_widget wrapper";
    grid-area: grid_wrapper;
}

/* 400px - 170px? */
.wrapper-single {
    /* max-width: 1680px; */
    position: relative;
    min-width: 230px;
    /* margin: 0 65px; */
    /* padding: 0 50px;  */
    /* margin: 0 auto; */
    /* background-color: gray; */
    /* background-color: rgb(107, 73, 73); */
    background-color: rgb(40, 40, 46);
    /* color: white; */
    /* margin:auto; */
    grid-area: wrapper;
    padding-left: 20px;


}


/* [Header] NAV
========================================================================== */
header.header-single {
    /* background-color: #35424a; */
    color: #ffffff;
    line-height: 70px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
    position: relative;
}
header.header-single h1 {
    font-family: 'Adamine',sans-serif;
    font-size: 36px;
    padding-left: 1.5rem;
}
header.header-single a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header.header-single nav#main-navigation {
    position: relative;
    /* position: fixed; */ 
    /* position: sticky */
    z-index: 999;
    max-width: 1680px;
    margin-top: 10px;
    display: inline-block;
    width: 100%;
}
/* Responsive Nav */
#main-navigation a {
    font-size: 30px;
    padding: 1rem;
}
#main-navigation a:hover {
    color: #e8491d;
}
.menu {
    display: none;
}
nav#main-navigation {
    background-color: white;
}
nav#main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
nav#main-navigation li {
    flex: 1;
}

nav#main-navigation a {
    color: black;
    text-decoration: none;
    border-right: 2px solid gray;
    line-height: 42px;
    display: block;
    text-align: center;
}

nav#main-navigation li:last-child a {
    border-right: none;
}

nav#main-navigation a:hover,
nav#main-navigation a:active,
nav#main-navigation a:focus {
    background-color: white;
    outline: none;
}
/* [Landing]
========================================================================== */
/* MAIN */
main {
    margin: 0;
    padding: 0;
}
  /* [Main - About ]
========================================================================== */
/*[Banner] */
.banner_wrapper {
    position: relative;
    min-height: 300px;
    height: 120vh;
    max-height: 1080px;
    width: 100%;
    background-color:#EEEEEE;
}

.banner_text {
    position: relative;
    height: 80vh;
    min-height: 300px;
    /* max-height: 1080px; */
    width: 100%;
    background-color: #eee;

}
.banner_content_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* text-align: center; */
    color: black;
}
/* scrollme down indicator */

.banner_wrapper a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.banner_wrapper p:hover, .banner_wrapper p:active, .banner_wrapper p:focus, .banner_wrapper p:visited{
    color: black;
}
.indicator_container {
    // position: relative;
    // width: 100%;
    // height: 40vh;
}

.indicator_container:hover {
    /* background: rgb(2,0,36); */

}
.indicator_container .indicator {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, -50%) rotate(45deg);

    /* background-color: #ccc; */
    background-color: transparent;
    margin: 0 auto;
}

.indicator span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    animation: animate_scroll_down_indicator 1s linear infinite;
    /* transform: translateX(30px); */
}

.indicator span:nth-child(1){
    top: -30px;
    left: -30px;
    animation-delay: 0s;
}

.indicator span:nth-child(2){
    top:-15px;
    left:-15px;
    animation-delay: 0.2s;
}
.indicator span:nth-child(3){
    top:0px;
    left:0px;
    animation-delay: 0.4s;
}
.indicator span:nth-child(4){
    top:15px;
    left:15px;
    animation-delay: 0.6s;
}
.indicator span:nth-child(5){
    top:30px;
    left:30px;
    animation-delay: 0.8s;
}

@keyframes animate_scroll_down_indicator {
    0%{
        border-color: #fff;
        transform: translate(0,0);
    }
    20% {
        border-color: #fff;
        /* transform: translate(15px,15px); */
        transform: translate(5px, 5px)
    }
    20.1%, 100% {
        border-color: #222;
    }
}

/* [Main - Landing] 
========================================================================== */
/* [Main - Projects ]
========================================================================== */
section#landing .landing, section#projects .projects, section#design_process .design_process, section#about .about, section#contact .contact  {
    top:0;
    position: sticky;
    z-index: 999;
    /* margin: 76px 0; */
    /* min-height: 50px; */
    /* height: 10vh; */
    height: 50px;
    /* max-height: 76px; */
    /* height: 76px; */
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(15, 146, 185);
    /* background-color: rgb(255, 90, 55); */
    margin-top: 30px;
}

.landing {
    margin-top:0;
}
.landing h1, .projects h1, .design_process h1, .about h1, .contact h1 {
    font-weight: 700;
    font-size: 30px;
}
.landing_wrapper, .projects_wrapper, .design_process_wrapper, .about_wrapper, .contact_wrapper  {
    min-height: calc(100vh - 50px);
    background-color: #fff;
    margin-bottom: 20px;
    /* padding: 70px 20px; */
    padding: 100px 20px;
    position: sticky;
    top:100px;
}

/* projects expanded */
.projects_grid_container {
    max-width: 1020px;
    padding: 30px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
}

.project {
    position: relative;
    height: 277.33px;
}

.project:before {
    content: "";
    display: inline-block;
    padding-bottom: calc(100%/(3/2));
}

.project_img {
    position: absolute;
    display: flex;
    top:0;
    left:0;
    width: 135px;
    height: 135px;
}

.project_img h2 {
    display: block;
    position: absolute;
    width: 100%;
    margin-left: 10px;
    font-size: 1.5em;
    text-align: center;
    color: black;
}

.project_content {
    position: absolute;
    left: 0;
    bottom: 50px;
    margin: 0;
    padding: 10px;
    background-color: rgba(255,255,255,0.4);
    width: 100%;
}

.project_content h2 {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 90, 55);
    color: black;
    text-align: center;
}

.spacing {
    position: absolute;
    bottom: -20px;
    width: 100%;
    padding: 10px;
    background-color: rgba(255,255,255,0.4);
}

/* [Main - Design Process ]
========================================================================== */
/* [Form - Contact ]
========================================================================== */
.contact_wrapper {
    background-color: rgb(76,0,0);
    color: white;
}

.contact_content h2,.contact_content p, legend, label, form input {
    font-family: verdana, sans-serif;

}

form {
    width: 350px;
    margin: 0 auto;
    background-color: rgb(76, 0, 0);
}
form input{
    background-color: rgb(201, 178, 178);
    margin-top: 4px;
}

fieldset {
    border-right-width: 4px;
    border-right-style: double;
    border-left-width: 4px;
    border-left-style: double;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    margin-top:10px;
}

label[for^=first], label[for^=last], label[for^=email]{
	display:block;
}

legend {
    background-color: rgb(201, 178, 178);
    color: rgb(76, 0, 0);
    margin-top: 4px;
    padding-bottom:2px;
    border-bottom-color: white;
    border-bottom-width: 5px;
    border-bottom-style: solid;
}

#processing_output{
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px white;
    padding: 10px;
}

/* [Footer]
========================================================================== */
// footer {
//     background-color: black;
//     color: white;
//     padding-left: 30px;
//     grid-area: footer;
//     z-index: 500;
// }

/* [Media Query]
========================================================================== */
/* @media screen and (max-width: 560px) { */
    @media (max-width: 960px) {
        header nav#main-navigation {
            position: relative;
        }

    /* menu bar */
    header.header-single {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .menu {
        display: block;
        width:40px;
        background-color: transparent;
        border: none;
        padding: 0;
        margin-right:1.5em;
    }
    .menu .button-content {
        display: block;
        height: 24px;
        cursor: pointer;
    }
    /* hamburger */
    .menu .text {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        border: 0;
    }
    .menu .bar {
        display:block;
        height: 4px;
        background-color: white;
        width: 100%;
        position: relative;
        top: 10px;
        transition: all 0.3s ease-in-out;
    }
    .menu .bar:before {
        content: "";
        width: 100%;
        height: 4px;
        top: 10px;
        left: 0;
        background-color: white;
        position: absolute;
        transition: all 0.3s ease-in-out;
    }
    
    .menu .bar:after {
        content: "";
        width: 100%;
        height: 4px;
        top: -10px;
        left: 0;
        background-color: white;
        position: absolute;
        transition: all 0.3s ease-in-out;
    }
    .menu:focus {
		outline: none;
	}
	
    .menu:focus .button-content {
        outline: 5px solid #7683C9;
    }
    
    .show .menu .bar {
		background-color: transparent;	
	}
	
	.show .menu .bar:before {
		top: 0;
		transform: rotate(45deg);	
	}
	
	.show .menu .bar:after {
		top: 0;
		transform: rotate(-45deg);	
	}
    
    nav#main-navigation {
        height: 0;
        overflow: hidden;
        width: calc(100% + 60px);
        background-color: rgb(36, 44, 61);   
    }
	
	nav#main-navigation.activated {
        transition: height 0.3s ease;
    }
    
    .show nav#main-navigation {
        height: auto;
    }
    
    nav#main-navigation ul {
        flex-direction: column;
    }
    
    nav#main-navigation li {
        width: 100%;
    }
    
    nav#main-navigation a {
        border-right: none;
        color: white;
        border-bottom: none;
        border-top: 2px solid #8A95d0;
        line-height: 40px;
    }
    
    nav#main-navigation a:hover,
    nav#main-navigation a:active,
    nav#main-navigation a:focus {
        background-color: rgba(255,255,255, 0.3);
    }
}

