/* ======================
    layer 4 - Music, audio
   ======================
*/
.layer.four {
  position: absolute;
  height: 100vh;
  background-image: url("../../2be.gif");
  /* background-size: contain; */
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000;
  
}
#youtube {
    position: absolute;
}

/* layer 4 - audio  2nd */