/* ======================
    layer 5 - Achievements, countdown
   ======================
*/

.layer.five {
    position: absolute;
    height: 100vh;
    background-image: url("../../images/bench2-hollowknight.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000;
    /* overflow-y:visible;  */
}
.layer.five .center {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
}
.layer.five h1 {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 3em;
}
.layer.five h1 span {
    font-size: 4em;
    line-height: .8em;
}
#countdown-clock {
    display: flex;
    width: 570px;
    margin: 0 auto;
}
#countdown-clock div {
    position: relative;
    width: 100px;
    padding: 20px;
    margin: 0 5px;
    background: #262626;
    color: #fff;
    border: 2px solid #000;
}
#countdown-clock div:last-child {
    background: #e91e63;
}
#countdown-clock div:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(255,255,255,.2);
}
#countdown-clock div span {
    display: block;
    text-align: center;
}
#countdown-clock div span:nth-child(1) {
    font-size: 48px;
    font-weight: 800;
}
#countdown-clock div span:nth-child(2){
    font-size: 18px;
    font-weight: 800;
    margin-top: -10px;
}