
/*--------------------------------------------------------------
 banner styles 
--------------------------------------------------------------*/


/* top banner styles */

/* .top-banner {
    padding: 100px 0;
    background-image: url("../images/bakery-wallpaper_1280.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    min-height: 500px;
} */
.top-banner-single {
    padding: 100px 0;
    background-image: url("../images/javascript-game.JPG");
    background-size: cover;
    background-position: bottom;
    height: 800px;
}
.top-banner-single h1, .top-banner-single h2, .top-banner-single h3, .top-banner-single p {
    color: white;
}
.top-banner h2 {
    font-size: 4rem;
    text-align: center;
    line-height: 1.2;
}

.top-banner p {
    text-align: center;
    font-size: 2rem;
    margin: 0;
    line-height: 1.2;
}

/* mid banner styles */

.mid-banner {
    position: relative;
}

.mid-banner h2 {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
}


/* bottom banner styles */

.bottom-banner {
    // background-color: #F2F2F2;
    padding: 90px 0;
}

.bottom-banner p {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
}

.bottom-banner a {
    color: white;
    display: block;
    // background-color: #FF4C2E;
    padding: 14px 40px;
    width: 200px;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin: 0 auto;
}

/*--------------------------------------------------------------
 Grid Styles
--------------------------------------------------------------*/

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/* Grid Column Widths */

.one-half {
    width: 48%;
}

.one-third {
    width: 30.6666666667%;
}

