/* ============
  Sidenav
 ============ */
// .sidebar {
//     position: fixed;
//     top: 0;
//     // /* left: 0; */
//     left: -300px;
//     width: 300px;
//     height: 100vh;
//     background: #262626;
//     transition: .5s;
//     padding: 0 20px;
//     margin: 0;
//     text-align: center;
//     // z-index: 799;
//     z-index: 9999;
//     box-shadow: 0 15px 50px rgba(0,0,0,.2);


//     clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);

// }
// .sidebar.active {
//     left: 0;
// }
// .img-logo {
//     width: 100px;
//     height: 100px;
// }
// .logo-container {
//     position: relative;
//     width: 100%;
//     height: 100px;
//     padding-left: 80px;
// }
// .sidebar .img-logo {
//     position: absolute;
//     left: 50%;
//     transition: .5s;
//     transform: translate(-50%, -15px);
// }
// .sidebar .menu {
//     margin: 0;
//     padding: 40px 0;
// }
// svg {
//     position: relative;
//     top:50%;
//     left:50%;
//     transform: translate(-50%, -50%);
// }
// .sidebar .menu li {
//     list-style: none;
//     font-family: sans-serif;
// }
// .sidebar .menu li a{
//     display: block;
//     padding: 10px 0;
//     text-transform: uppercase;
//     color: #fff;
//     font-size: 18px;
//     text-decoration: none;
// }

// .sidebar .menu li a:hover {
//     background: #fc2827;
//     color: #fff; 
// }

// .menu-icon.active span {
//     position: absolute;
//     /* change lines in button */
//     width: calc(100% - 16px);
//     top: calc(50% - 8px);
    
// }
// .menu-icon.active span:nth-child(1){
//     transform:rotate(45deg);
// }
// .menu-icon.active span:nth-child(3){
//     transform:rotate(-45deg);
// }
// .menu-icon.active span:nth-child(2){
//     display: none;
// }
// .social-icon {
//     /* bottom: 40px;
//     left: 0;


//     width: 100%;
//     padding: 0 20px;
//     box-sizing: border-box; */    
//     /* display: flex; */
//     /* flex-wrap: wrap; */
//     position: absolute;
//     width: 100%;
//     height: 50vh;
//     overflow: auto;

//     bottom: 0px;
//     left: 0;

//     /* position: absolute;
//     bottom: 40px;
//     left: 0;
//     display: flex;
//     flex-wrap: wrap;
//     margin: 0;
//     padding: 0;

//     width: 100%;
//      */
     
// }
// ul.social-icons {
//     /* bottom: 40px; */
//     /* left: 0; */
//     /* display: flex; */
//     /* flex-wrap: wrap; */
//     margin: 0;
//     padding: 0;
//     display: block;
// /* flex-wrap: wrap; */

//     /* width: 100%; */

// }
// .social-icon li {
//     width: 20%;
//     text-align: center;
//     list-style: none;
//     display: flex;
//     display: inline-block;
//     flex: 1;
//     flex-wrap: wrap;
// }
// .social-icon li a {
//     display: block;
//     font-size: 18px;
//     color: #fff;
//     width: 40px;
//     height: 40px;
//     text-align: center;
//     line-height: 40px;
//     border-radius: 50%;
//     transition: .5s;
// }
// .social-icon li a:hover {
//     background: #fc2827;
// }

// .rightTriangle { 
//     /* position: absolute;    */
//     width: 100%;
//     height: 50vh;
//     /* width: 50%; */
//     background-color: #7db9e8;    
//     /* margin: 0 0 5px 25px;     */
//     /* display: flex; */
//     /* flex-wrap: wrap; */
//     float: right;
//     -webkit-clip-path: polygon(100% 0%, 75% 100%, 100% 100%);    
//     clip-path: polygon(100% 0%, 75% 100%, 100% 100%);
//     -webkit-shape-outside: polygon(100% 0%, 75% 100%, 100% 100%);    
//     shape-outside: polygon(100% 0%, 75% 100%, 100% 100%);
// }
// @media (max-width: 900px){
//     .logo-container {
//         padding-left: 0;
//     }
//     .logo-container .img-logo {
//         left: 0;
//         transform: translate(-20px, -23px);
//     }
// }

.sidebar {
    position: absolute;
    top: 0;
    // /* left: 0; */
    left: -300px;
    width: 300px;
    height: 100vh;
    background: #262626;
    transition: .5s;
    padding: 0 20px;
    margin: 0;
    text-align: center;
    z-index: 99;
    box-shadow: 0 15px 50px rgba(0,0,0,.2);


    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);

}
.sidebar.active {
    left: 0;
}
.img-logo {
    width: 100px;
    height: 100px;
}
.logo-container {
    position: relative;
    width: 100%;
    height: 100px;
    padding-left: 80px;
}
.sidebar .img-logo {
    position: absolute;
    left: 50%;
    transition: .5s;
    transform: translate(-50%, -15px);
}
.sidebar .menu {
    margin: 0;
    padding: 40px 0;
}
svg {
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.sidebar .menu li {
    list-style: none;
    font-family: sans-serif;
}
.sidebar .menu li a{
    display: block;
    padding: 10px 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

.sidebar .menu li a:hover {
    background: #fc2827;
    color: #fff; 
}

.menu-icon.active span {
    position: absolute;
    /* change lines in button */
    width: calc(100% - 16px);
    top: calc(50% - 8px);
    
}
.menu-icon.active span:nth-child(1){
    transform:rotate(45deg);
}
.menu-icon.active span:nth-child(3){
    transform:rotate(-45deg);
}
.menu-icon.active span:nth-child(2){
    display: none;
}
.social-icon {
    /* bottom: 40px;
    left: 0;


    width: 100%;
    padding: 0 20px;
    box-sizing: border-box; */    
    /* display: flex; */
    /* flex-wrap: wrap; */
    position: absolute;
    width: 100%;
    height: 50vh;
    overflow: auto;

    bottom: 0px;
    left: 0;

    /* position: absolute;
    bottom: 40px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    width: 100%;
     */
     
}
ul.social-icons {
    /* bottom: 40px; */
    /* left: 0; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    margin: 0;
    padding: 0;
    display: block;
/* flex-wrap: wrap; */

    /* width: 100%; */

}
.social-icon li {
    width: 20%;
    text-align: center;
    list-style: none;
    display: flex;
    display: inline-block;
    flex: 1;
    flex-wrap: wrap;
}
.social-icon li a {
    display: block;
    font-size: 18px;
    color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: .5s;
}
.social-icon li a:hover {
    background: #fc2827;
}

.rightTriangle { 
    width: 80vw;
    height: 50vh;
    background-color: #7db9e8;    
    float: right;
    -webkit-clip-path: polygon(100% 0%, 75% 100%, 100% 100%);    
    clip-path: polygon(100% 0%, 75% 100%, 100% 100%);
    -webkit-shape-outside: polygon(100% 0%, 75% 100%, 100% 100%);    
    shape-outside: polygon(100% 0%, 75% 100%, 100% 100%);
}
@media (max-width: 900px){
    .logo-container {
        padding-left: 0;
    }
    .logo-container .img-logo {
        left: 0;
        transform: translate(-20px, -23px);
    }
}