/* ============
  Mockups
 ============ */
 .container.mockup {
    width: 100%;
    position: relative;

    /* height: 100px; */
    z-index: 100;
    /* background-color: #fff; */
                background: transparent;
}
.flex-container {
    position: relative;
    display: flex;
    /* transform: translateX(20%); */
    margin: 0 auto;
    /* background: #000; */
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: baseline; */
    list-style: none;
    z-index: -100;
}

.container.mockups {
    position: relative;
    /* transform: translateY(-60%); */
    /* overflow-y: visible; */
    overflow: visible;
    z-index: 1;
    background: transparent;
}

/*--------------------------------------------------------------
# import
--------------------------------------------------------------*/
@import'desktop';
@import'laptop';
@import'mobile';